/* кол-во */
input.count::-webkit-outer-spin-button,
input.count::-webkit-inner-spin-button {
	/* удаление встроенных кнопок */
	-webkit-appearance: none;
}

input[type="number"]:focus { outline: none }
/* Основной современный стандарт */
input::placeholder {
  color: var(--dark-bg);
  opacity: 1;
}

/* Для старых версий Internet Explorer */
input:-ms-input-placeholder { color: var(--dark-bg) }

/* Для Microsoft Edge */
input::-ms-input-placeholder { color: var(--dark-bg) }

/* главный контейнер */
#cluster {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "calc  model"
        "check model";
    background-color: var(--dark-bg);
}

/* калькулятор */
#calc {
    white-space: nowrap;
    grid-area: calc;
    display: grid;
    grid-gap: 0.4rem;
    grid-template-columns: auto auto auto auto 300px;
}

#calc input,
#calc button {
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
    color: var(--dark-bg);
    background-color: var(--main-color);
}

/* 3D модель */
#cluster model-viewer {
    grid-area: model;
    width: 100%;
    height: 100%;
    min-height: 200px;
}

/* кнопки + - */
#calc svg {
    height: 20px;
    aspect-ratio: 1;
    stroke: var(--dark-bg);
    stroke-width: 2px;
}

#check {
    color: black;
    background-color: white;
}

table {
    width: 100%;
    max-width: 300px;
    white-space: nowrap;
}

table td:nth-child(2) {
    width: auto;
    text-align: right;
}

/* телефонная версия */
@media (orientation:portrait){
    #cluster {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "calc"
            "check"
            "model";
    }

    model-viewer {
        aspect-ratio:1;
    }
}