aside {
    grid-area: aside;
    fill: var(--text-color);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

aside #mess-links {
    display: grid;
    align-content: center;
}

aside a {
    padding: 16px;

    &:hover {
        border-radius: 4px;
        background-color: rgb(156, 107, 140, .3);
    }
}

aside svg {
    width: 24px;
    height: 24px;
}

@media (orientation: portrait) {
    aside {
        display: flex;
        justify-content: flex-end;
    }

    aside a {
        padding: 5px;
        height: 46px;
        aspect-ratio: 1;
    }

    aside svg {
        width: 34px;
        height: 34px;
    }
}