footer {
    padding-top: 200px;
    grid-area: foot;
    display: grid;
    border-style: solid;
    border-width: 0 1px;
    border-color: var(--border-color);
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (orientation: portrait) {
    main,
    footer { border: none }
}