header,
aside {
    height: 100vh;
    position: fixed;
}

header {
    grid-area: head;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: var(--padding);
}

header > #logo > :nth-child(1) {
    width: 100%;
    height: auto;
    aspect-ratio: 10/11;
    background-image: url(../../../favicon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

header > #logo > :nth-child(2) {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 0;
}

/* сброс стандартных стилей */
header nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: -10px;

    & > a {
        color: var(--text-color);
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;

        & > div {
            padding: 10px 8px;

            &:hover {
                border-radius: 4px;
                background-color: rgb(156, 107, 140, .3);
            }
        }
    }
}

@media (orientation: portrait) {
	header,
	aside {
		height: auto;
		position: static;
	}

    header {
        padding: 0;
    }

    header nav {
        display: none;
    }

    header > #logo {
        display: flex;
        gap: 1rem;
        display: none;
    }

    header > #logo > :nth-child(1) {
        width: 50px;
    }

    header > #logo > :nth-child(2) {
        font-size: 2rem;
        font-weight: bolder;
        margin: 0;
    }
}