/* 1-ый слайд айта */
body > svg:first-child {
	position: absolute;
	width: 100%;
	height: 100vh;
	pointer-events: none; /* Клики будут проходить СКВОЗЬ этот элемент */

	aspect-ratio: 1/1;
	#blobClip{
    transform-origin: center;
		transition: ease-out transform .4s;
	}
	&:hover{
		#blobClip{
			transform: scale(1.15) translate(0%, 0%);
		}
		.text-content{
			fill: white;
			mix-blend-mode: overlay;
		}
	}
}

.text-content {
	font: 700 10px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	fill: var(--a-color);
	mix-blend-mode: normal;
	transition: ease fill .5s;
}


body > model-viewer {
	position: absolute;
	width: 100%;
	height: 100vh;
	pointer-events: none; /* Клики будут проходить СКВОЗЬ этот элемент */
}

#poster {
	height: 100vh;
	position: relative;

	/* стабилизатор */
	& > div {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: grid;
		gap: 1.2rem;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"neon neon"
			"text call";
		font-size: 1.2rem;
		font-weight: bolder;

		/* имя компании (неон) */
		& svg {
			grid-area: neon;
			/* Параметры: смещение-x, смещение-y, размытие, цвет */
			/* filter: drop-shadow(0 0 15px orange); */
			filter: 
				drop-shadow(0 0 2px #fff)
				/* 2. Близкое интенсивное свечение */
				drop-shadow(0 0 10px rgba(255, 65, 0, .5))
				/* 3. Среднее рассеивание */
				drop-shadow(0 0 20px rgba(255, 165, 0, .3));
			fill: #fffbf4;
			stroke-width: 0;
			width: 100%;
			height: auto;
			aspect-ratio: 10/1;
		}

		/* описание */
		& p {
			color: var(--a-color);
			grid-area: text;
			margin: 0;
		}

		/* связаться */
		& a {
			grid-area: call;
			padding: 12px 16px;
			color: var(--back-color);
			background-color: var(--a-color);
			text-decoration: none;

			&:hover {
				background-color: var(--a-color);
				opacity: 0.9;
			}
		}
	}
}

@media (orientation: portrait) {
	/* 1-ый слайд айта */
	body > model-viewer {
		width: 100%;
		height: 100vh;
		pointer-events: none; /* Клики будут проходить СКВОЗЬ этот элемент */
		background-image: url(../../../favicon.svg);
		opacity: .5;
		background-position: 1% 1%;
		background-repeat: no-repeat;
		background-size: 26vw;
	}
	
	#poster {
		width: 100%;
		height: 80vh;
		aspect-ratio: 10/8;

		/* стабилизатор */
		& > div {
			grid-template-columns: 1fr;
			grid-template-areas:
				"neon"
				"text"
				"call";
		}
	}
}