#services-cluster {
    display: grid;
    grid-template-columns: 6fr 8fr 10fr;
    border-style: solid;
    border-width: 1px 0;
    border-color: var(--border-color);

    & > div {
        --darkness: 0.7;

        padding: 32px 40px;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: var(--border-color);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

        &:first-child {
            background-image: linear-gradient(rgba(0, 0, 0, var(--darkness)), rgba(0, 0, 0, var(--darkness))), url(../img/service/dtf.jpg);
        }

        &:nth-child(2) {
            background-image: linear-gradient(rgba(0, 0, 0, var(--darkness)), rgba(0, 0, 0, var(--darkness))), url(../img/service/fancy.jpg);
        }

        &:last-child {
            background-image: linear-gradient(rgba(0, 0, 0, var(--darkness)), rgba(0, 0, 0, var(--darkness))), url(../img/service/termo1.jpg);
            border-width: 0;
        }
    }

    & > div > .title {
        color: bisque;
        font-size: 20px;
        font-weight: 200;
    }

    & > div > p {
        font-size: 17px;
        font-weight: 100;
        line-height: 1.7;
        letter-spacing: .1rem;
    }
}