* {
    --input-thumb-width: 6px;
    --input-thumb-height: 20px;
    --input-thumb-color: red;
    --input-thumb-border-radius: 0;
    --input-thumb-h-center: calc(var(--input-thumb-height) / 2 * -1 + 2px);

    --padding: 1rem;

    /* B O R D E R */
    --border-color: #343434;
    --border-width: 1px;
    --border-type: solid;

    --text-color: #FEE;

    box-sizing: border-box;
}

/* Принудительно задаем белый цвет для всех материалов */
model-viewer#wireframe-demo {
    --base-color: #FF0000;
}

body {
    color: var(--text-color);
    margin: 0;
    padding: var(--padding);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    font-size: 1em;
    font-family: monospace;
    background-color: #121212;
}

header {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

/* список материалов */
#materialsList > button {
    /* 1. Сброс дефолтных стилей браузера */
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    /* 2. Стилизация */
    border-right: var(--border-width) var(--border-type) var(--border-color);
    padding: 0 1.6rem;
    &:last-child {
        border-right: none;
    }
    
    /* 3. Эффекты перехода (плавность) */
    transition: all 0.5s ease;

    /* при наведении курсора */
    &:hover {
        color: orange;
    }
    &.active {
        color: red;
    }
}

main {
    align-items: start;
    /* Ключевое свойство */
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: var(--padding);
    grid-template-columns: 3fr 1fr;
}

model-viewer {
    width: 100%;
    height: 100%;
    border: var(--border-width) var(--border-type) var(--border-color);
}

#statistics {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

#statistics > div,
header > div {
    padding: 0.6rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

button {
    cursor: pointer;
}

/* смена цвета */
#color-set > div {
    display: grid;
    grid-gap: var(--padding);
    grid-template-columns: repeat(6, 1fr);
}

#color-set button {
    border-radius: 
}

/*
#materialsList {
    display: flex;
    padding: 0;
}
*/

/* данные камеры */
#camera-orbit {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 9ch 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.control {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title value"
        "range range";
}

.control input {
    grid-area: range;
    margin-bottom: calc( var(--input-thumb-height) / 2 );
}

/* Firefox */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #ddd;
}

@media (orientation: portrait) {
    body {
        height: auto;
        padding: 0;
    }
    
    header,
    #statistics
    {
        padding: var(--padding);
    }
    
    main {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows:
            1fr
            auto;
    }
    
    model-viewer {
        height: auto;
        aspect-ratio: 1;
    }
}